<div class='text-center mt-3'>
  <h2 class="h1">About</h2>
  <div>
    <p>ながのCakeは全国発送可能なケーキ屋さんです。</p>
    <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p>様々なバリエーションをご用意しております。</p>
    <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
    <p>ぜひご注文ください</p>
  </div>
  <div>
    <div class="svg_wrapper">
      <%= embedded_svg('nagano_icon.svg', class: 'nagano_logo_svg') %>
    </div>
  </div>
</div>