<h2>ログイン</h2>
<h5>会員の方はこちらからログイン</h5>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <table class="table table-borderless mt-3">
    <tr>
      <td class="text-center">メールアドレス</td>
      <td class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td class="text-center">パスワード</td>
      <td class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </td>
    <tr>
      <td></td>
      <td class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-md" %>
      </td>
    </tr>
  </table>
<% end %>
